body{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

header{
  height:80vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:30px;
  background-image:  url('./images//bd.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size:cover;

}
header img {
width: 300px;
height: 300px;
}

header p {
  opacity: 1;
  letter-spacing: -2px;
  font-size:35px;
  color:#f2f2f2;
  text-align: center;
}

.menu{
  height: 70px;
  width: 100%;
  background-color:#212121;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.menu a{
  text-decoration: none;
  color:#fff
}

.menu a:hover{
  color:#236ed6;
  transition: 0.4s;
}

/* contato */
.forms {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background: #f2f2f2
}

.forms form{
  display: flex;
  flex-direction: column;
  border-radius: 15px 100px 30px;
  padding: 65px;
  background: #113c77;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.forms label{
  color:#f2f2f2;
  margin: 12px 0 0 2px
}

.forms input,.form textarea {
  height: 40px;
  width: 35vh;
  border: none;
  border-radius: 7px;
  padding-left: 7px;
  margin: 5px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #777  !important;
}

.forms textarea {
  margin-top:4px
}

.forms input:placeholder{
  color: #777  !important;
}

.forms #mensagem{
 height: 120px;
}

.forms button{
  border-radius: 7px;
  margin-top: 20px;
  height: 48px;
  border: none;
  font-weight: 600;
  color:#113c77;
  background: #fff;
  cursor: pointer;
}

.forms button:hover{
  background: #113c77;
  color:#fff;
  border: 1px solid #fff;
  transition: 0.5s;
}

/* produtos */
.context{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0  110px;
  background: #f2f2f2;
}

 .info{
  display:flex;
  justify-content:center;
  align-items:flex-end;
  transition: 0.5s;
  cursor: pointer;
}

.info:hover {
  transform: translateY(20px);
  transition: 0.5s ease-in;
}

.info img{
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  border-radius: 10px;
  height:300px;
  width: 300px;
}
 
.info div {
  opacity:0;
  transition: 0.4s ease-in;
  position: absolute;
  text-align: center;
  width:300px;
  height: 300px;
  color:#fff;
  background-color:rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.info div:hover{
  opacity:1;
}

.info p{
position: absolute;
text-align: center;
color:#fff;
border-radius: 10px;
bottom:0;
left: 11;
font-size: 17px;
} 

.context div:last-child>img{
  width: 250px !important;
} 

@media screen and (max-width: 825px){
  .context{
    display: flex;
    flex-direction: column;
  }
}

